body {
  font-family: "Kiwi Maru", "Single Day", sans-serif, cursive;
  font-weight: 400;
  font-style: normal;
}
.width-90 {
  width: 90%;
}
.text-center {
  text-align: center;
}
.margin-top_10 {
  margin-top: 10px;
}
.margin-top_20 {
  margin-top: 20px;
}
.margin-left_25 {
  margin-left: 25px;
}
.margin-bottom_10 {
  margin-bottom: 10px;
}
.margin-center {
  margin: 0 auto;
}
.background_aeff50 {
  background: #aeff50;
}
.top-left-radius_15 {
  border-top-left-radius: 15px;
}
.top-right-radius_15 {
  border-top-right-radius: 15px;
}
.vc-bordered {
  border: 0px solid !important;
}
.vc-container .vc-weekday-1, .vc-container .vc-weekday-7 {
  color: #ee4f4f;
}
.font-title {
  font-weight: bold;
}
.font-main-title {
  font-size: x-large;
  font-weight: bold;
}
.font-small {
  font-size: small;
}

.calendar-title {
  display: flex;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  justify-content: center;
}

.calendar-stamp {
  height: 200px;
  overflow: auto;
  max-height: max-content;
}

.calendar-select {
  border-radius: 15px;
  border: 3px solid rgb(255, 99, 99);
}

/* アニメーション */
.anime-rotete {
  animation: anirotate 2s linear infinite;
}
@keyframes anirotate {
  0% {
    transform: rotate(10deg);
    transition-duration: 0.8s;
  }
  10% {
    transform: rotate(20deg);
    transition-duration: 0.8s;
  }
  20% {
    transform: rotate(30deg);
    transition-duration: 0.8s;
  }
  30% {
    transform: rotate(40deg);
    transition-duration: 0.8s;
  }
  40% {
    transform: rotate(45deg);
    transition-duration: 0.8s;
  }
  50% {
    transform: rotate(-10deg);
    transition-duration: 0.8s;
  }
  60% {
    transform: rotate(-20deg);
    transition-duration: 0.8s;
  }
  70% {
    transform: rotate(-30deg);
    transition-duration: 0.8s;
  }
  80% {
    transform: rotate(-40deg);
    transition-duration: 0.8s;
  }
  90% {
    transform: rotate(-45deg);
    transition-duration: 0.8s;
  }
}