body {
  font-family: "Kiwi Maru", "Single Day", sans-serif, cursive;
  font-weight: 400;
  font-style: normal;
}
.text-center {
  text-align: center;
}
.margin-top_10 {
  margin-top: 10px;
}
.margin-top_20 {
  margin-top: 20px;
}
.margin-left_25 {
  margin-left: 25px;
}
.background_aeff50 {
  background: #aeff50;
}
.top-left-radius_15 {
  border-top-left-radius: 15px;
}
.top-right-radius_15 {
  border-top-right-radius: 15px;
}
.vc-bordered {
  border: 0px solid !important;
}
.vc-container .vc-weekday-1, .vc-container .vc-weekday-7 {
  color: #ee4f4f;
}
.font-title {
  font-weight: bold;
}
.font-main-title {
  font-size: x-large;
  font-weight: bold;
}